<?xml version="1.0" encoding="utf-8"?>
<settings>
  <!-- Standard (architecture-dependent) settings' sections -->

  <memory>
    <region type  = "text"
            name  = "code"
            start = "0000_0000_8000_0000"
            end   = "0000_0000_ffff_ffff"
            mode  = "--x---"
    />
    <region type  = "data"
            name  = "data"
            start = "0000_0000_8000_0000"
            end   = "0000_0000_ffff_ffff"
            mode  = "rw----"
    />

    <!-- Virtual address space -->
    <region type="table" name="TranslationTable" start="0011_0000" end="0011_ffff" mode="rw-rw-"/>
    <region type="table" name="pmem"             start="0012_0000" end="ffff_ffff" mode="rw-rw-"/>
  </memory>

  <allocation>
    <mode name="X">
      <strategy name="biased" free-bias="50" used-bias="50"/>
      <range min="0" max="31">
        <exclude item="0"/>
        <exclude item="31"/>
      </range>
    </mode>
    <mode name="F">
      <strategy name="biased" free-bias="50" used-bias="50"/>
      <range min="0" max="31">
        <exclude item="0"/>
        <exclude item="31"/>
      </range>
    </mode>
  </allocation>

  <delaySlot size="0"/>

  <!-- Data generators for branch instructions -->
  <extensions>
    <extension name="beq-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvEqDataGenerator"/>
    <extension name="bne-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvNeqDataGenerator"/>
    <extension name="blt-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvLtDataGenerator"/>
    <extension name="bge-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvGeDataGenerator"/>
    <extension name="bltu-if-then" path="ru.ispras.microtesk.riscv.test.branch.RiscvLtuDataGenerator"/>
    <extension name="bgeu-if-then" path="ru.ispras.microtesk.riscv.test.branch.RiscvGeuDataGenerator"/>
    <extension name="beqz-if-then" path="ru.ispras.microtesk.riscv.test.branch.RiscvEqzDataGenerator"/>
    <extension name="bnez-if-then" path="ru.ispras.microtesk.riscv.test.branch.RiscvNezDataGenerator"/>
    <extension name="blez-if-then" path="ru.ispras.microtesk.riscv.test.branch.RiscvLezDataGenerator"/>
    <extension name="bgez-if-then" path="ru.ispras.microtesk.riscv.test.branch.RiscvGezDataGenerator"/>
    <extension name="bltz-if-then" path="ru.ispras.microtesk.riscv.test.branch.RiscvLtzDataGenerator"/>
    <extension name="bgtz-if-then" path="ru.ispras.microtesk.riscv.test.branch.RiscvGtzDataGenerator"/>
    <extension name="jal-goto"  path="ru.ispras.microtesk.riscv.test.branch.RiscvGotoDataGenerator"/>
    <extension name="jalr-goto" path="ru.ispras.microtesk.riscv.test.branch.RiscvGotoDataGenerator"/>
    <extension name="j-goto"    path="ru.ispras.microtesk.riscv.test.branch.RiscvGotoDataGenerator"/>
    <extension name="jr-goto"   path="ru.ispras.microtesk.riscv.test.branch.RiscvGotoDataGenerator"/>
  </extensions>

</settings>
