<?xml version="1.0" encoding="utf-8"?>
<settings>
  <!-- Standard (architecture-dependent) settings' sections -->
  <memory>
    <region type="text" name="code" start="0000_0000" end="001f_ffff" mode="--x---"/>

    <region type="data" name="lo" start="0000_0000" end="0fff_ffff" mode="rw----">
    </region>

    <region type="data" name="hi" start="5020_0000" end="5fff_ffff" mode="rw----">
    </region>
  </memory>

  <allocation>
    <mode name="X">
      <strategy name="random" free-bias="50" used-bias="50"/>
      <range min="0" max="31">
        <exclude item="0"/>
        <exclude item="31"/>
      </range>
    </mode>
    <mode name="FR">
      <strategy name="random" free-bias="50" used-bias="50"/>
      <range min="0" max="31">
        <exclude item="0"/>
        <exclude item="31"/>
      </range>
    </mode>
  </allocation>

  <delaySlot size="0"/>

  <!-- Data generators for branch instructions -->
  <extensions>
    <extension name="beq-if-then"   path="ru.ispras.microtesk.riscv.test.branch.RiscvEqDataGenerator"/>
    <extension name="bne-if-then"   path="ru.ispras.microtesk.riscv.test.branch.RiscvNeqDataGenerator"/>
    <!--
    <extension name="blt-if-then"   path="ru.ispras.microtesk.riscv.test.branch.RiscvEqDataGenerator"/>
    <extension name="bge-if-then"   path="ru.ispras.microtesk.riscv.test.branch.RiscvNeqDataGenerator"/>
    <extension name="bltu-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvEqDataGenerator"/>
    <extension name="bgeu-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvNeqDataGenerator"/>
    -->
    <extension name="beqz-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvEqzDataGenerator"/>
    <extension name="bnez-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvNezDataGenerator"/>
    <!--
    <extension name="blez-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvEqDataGenerator"/>
    <extension name="bgez-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvNeqDataGenerator"/>
    <extension name="bltz-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvEqDataGenerator"/>
    <extension name="bgtz-if-then"  path="ru.ispras.microtesk.riscv.test.branch.RiscvNeqDataGenerator"/>
    -->
    <extension name="jal-goto"  path="ru.ispras.microtesk.riscv.test.branch.RiscvGotoDataGenerator"/>
    <extension name="jalr-goto" path="ru.ispras.microtesk.riscv.test.branch.RiscvGotoDataGenerator"/>
    <extension name="j-goto"    path="ru.ispras.microtesk.riscv.test.branch.RiscvGotoDataGenerator"/>
    <extension name="jr-goto"   path="ru.ispras.microtesk.riscv.test.branch.RiscvGotoDataGenerator"/>
  </extensions>

</settings>
